@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
/* Common */
.container {
  max-width: 1280px;
  margin: auto;
}
.flexContainer {
  display: flex;
  justify-content: center;
}
span {
  color: #fff;
}
/* Common End */

/* Header Section Start*/
.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 90vh;
  background: #fff;
}
.banner::before {
  content: "";
  position: absolute;
  left: 30%;
  top: 10%;
  width: 150px;
  height: 150px;
  background: url(./asset/dotted.png);
  background-size: cover;
  animation: animateColor 10s linear infinite;
  transition-delay: -5s;
}
header {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0px;
  justify-content: space-between;
  align-items: center;
}
header .logo {
  color: #333;
  font-size: 2em;
  font-weight: 700;
  text-decoration: none;
  transition: 0.5s;
}
header .logo span {
  color: #2196f3;
}
header ul {
  display: flex;
  gap: 40px;
  padding: 0;
  margin: 0;
}
header ul li {
  list-style: none;
}
header ul li a {
  position: relative;
  text-decoration: none;
  font-weight: 500;
  font-size: 1.2em;
  color: #333;
  transition: 0.5s;
  padding: 5px 0;
  display: inline-block;
}

header ul li a::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -3px;
  width: 0;
  height: 2px;
  background-color: #e91e63;
  transition: all 0.4s ease-in-out;
  transform: translateX(-50%);
}
header ul li a:hover::after {
  width: 100%;
}

.content {
  position: relative;
  max-width: 700px;
  z-index: 10;
}
.content h3 {
  font-size: 2em;
  color: #333;
  font-weight: 200;
  transition: 0.5s;
}
.content h2 {
  font-size: 3.5em;
  color: #333;
  font-weight: 700;
  transition: 0.5s;
}
.content h2 {
  color: #e91e63;
}
.content p {
  font-size: 1em;
  color: #666;
  margin: 10px 0;
  transition: 0.5s;
  font-weight: 400;
}
button {
  position: relative;
  background: #2196f3;
  color: #fff;
  border: none;
  outline: none;
  padding: 15px 35px;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.5s;
}
.content button {
  position: relative;
  background: #2196f3;
  color: #fff;
  border: none;
  outline: none;
  padding: 10px 20px;
  font-size: 1.25em;
  letter-spacing: 0.15em;
  margin-right: 20px;
  border-radius: 4px;
  font-weight: 400;
  cursor: pointer;
  transition: 0.7s;
  border: 2px solid #2196f3;
}
.content button.chat {
  background: transparent;
  color: #333;
}
.content button:hover {
  background: transparent;
  color: #e91e63;
}
.content button.chat {
  border: none;
}
.content button.chat ion-icon {
  top: 5px;
  position: relative;
  color: #e91e63;
  font-size: 1.5em;
}
.sci {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
}
.sci li {
  list-style: none;
}
.sci li a {
  text-decoration: none;
  font-size: 1.75em;
  color: #333;
}
.sci li a:hover {
  color: #2196f3;
}

.colors {
  position: absolute;
  max-width: 600px;
  right: 0px;
  animation: animateColor 8s ease-in-out infinite;
}
@keyframes animateColor {
  0%,
  100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(50px);
  }
}
/* Header Section End */

/* About Section Start */
.about-section {
  background-color: #333;
  height: auto;
  padding: 50px 20px;
}

.headingTwo {
  color: #2196f3;
  font-weight: 500;
  font-size: 2em;
}

#about-content {
  display: flex;
  padding-top: 50px;
  justify-content: space-between;
  gap: 20px;
}
#about-content p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  margin: 10px 0;
  transition: 0.5s;
}

#about-content > div {
  flex: 1;
}

#about-img {
  width: 100%;
  min-height: auto;
  display: block;
}
#open-modal-btn {
  border: 2px solid #2196f3;
  background: #2196f3;
  font-weight: 500;
  color: #fff;
}
#open-modal-btn:hover {
  background: transparent;
  transition: 0.5s;
  color: #fff;
}
/* About Section End */

/* Project Section Start */
.projects-section {
  min-height: 70vh;
  background-color: #f7f7f7;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.projects-section span {
  color: #333;
}
.project-boxes {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  gap: 20px;
}

.project-boxes {
  display: flex;
  justify-content: space-between;
  padding: 20px 0px;
  gap: 20px;
}

.project-box {
  position: relative;
  overflow: hidden;
  text-align: center;
}

.project-box img {
  width: 300px;
  border-radius: 3px;
  transition: transform 0.4s ease-in-out;
}

.project-box:hover img {
  transform: scale(1.1);
}
.projects-section .headingTwo {
  margin-bottom: 30px;
}

.project-box h3 {
  margin-top: 15px;
  display: inline-block;
}

.project-box h3 a {
  color: #333;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.project-box h3 a:hover {
  color: #e91e63;
}
/* Project Section End */

/* Skill Section Start */
.skills-section {
  min-height: 70vh;
  background: #333;
  height: auto;
  padding-top: 50px;
  padding-bottom: 50px;
}
.skill-main {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.left-skill h2 {
  color: #fff;
  font-size: 1.7em;
}
.left-skill {
  width: 50%;
}
.right-skill {
  flex: 1;
  margin-left: 30px;
}
.right-skill .line {
  position: relative;
  margin-bottom: 15px;
}
.right-skill .bars {
  background-color: lightgray;
  height: 5px;
  width: 100%;
  position: relative;
}
.right-skill .bars::before {
  content: "";
  position: absolute;
  height: 100%;
  background-color: #e91e63;
}
.right-skill .html::before {
  width: 90%;
}
.right-skill .css::before {
  width: 90%;
}
.right-skill .react::before {
  width: 50%;
}
.right-skill .php::before {
  width: 30%;
}
.right-skill .js::before {
  width: 85%;
}

.right-skill .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.right .info span {
  font-weight: 500;
  font-size: 1.5em;
}

.skills-section h2 {
  padding-top: 20px;
}
.skills-section p {
  margin-top: 25px;
  color: #f7f7f7;
  font-weight: 400;
}
.skills-section button {
  margin-top: 20px;
}
.left-skill button {
  background-color: #2196f3;
  color: #f7f7f7;
  padding: 8px 16px;
  border: 2px solid #2196f3;
  border-radius: 6px;
  transition: 0.5s;
}
.skills-section button:hover {
  background: transparent;
}
.section-three {
  height: 65vh;
  background-color: #3c2d2d;
}
/* Skill Section End */

footer {
  padding: 20px 0px;
  background-color: #f7f7f7;
  position: relative;
}
button {
  padding: 10px 15px;
  font-family: inherit;
  font-size: 14px;
  border: none;
  border-radius: 3px;
}
footer h4 {
  font-size: 14px;
}
#footer-btn {
  position: fixed;
  bottom: 10px;
  right: 20px;
  background: #2d2d2d;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
}
#open-modal-btn {
  margin-top: 15px;
}
#close-btn {
  background-color: #9c3838;
  color: #fff;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0px;
  border: none;
  margin: 0px;
}
.modal {
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}
.overlay {
  display: none;
}
.displayModal {
  display: block;
}
/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 200px 50px;
  border: 1px solid #888;
  width: 80%;
  position: relative;
}
.modal-content p {
  font-family: inherit;
  font-size: 22px;
  padding: 10px 0px;
}
/* Grid Container */
.masonry-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 200px;
  gap: 1rem;
  padding: 20px 0px;
  background-color: #fff;
}

.grid-item {
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}

.grid-item:nth-child(2) {
  grid-row: span 2;
}

.grid-item:nth-child(4) {
  grid-row: span 2;
}

.grid-item:nth-child(6) {
  grid-row: span 2;
}

.grid-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.grid-item:hover img {
  transform: scale(1.05);
}
/* Grid Container End */

/* contact Section Start */
.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #222;
  width: 100%;
}
.contact-content {
  width: 100%;
  font-family: inherit;
}

.contact .contact-content p {
  color: #fff;
  font-family: inherit;
  font-size: 1em;
  font-weight: 400;
}
.contact-text p {
  font-size: 14px;
}
.contact-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 30px;
}
.contact-container .contactInfo {
  width: 50%;
  display: flex;
  flex-direction: column;
}
.contact-container .contactInfo .contact-box {
  position: relative;
  padding: 20px 0;
  display: flex;
  cursor: pointer;
}
.contact-container .contactInfo .contact-box .contact-icon {
  position: relative;
  min-width: 60px;
  height: 60px;
  background: repeating-conic-gradient(
    from 27.5deg,
    #2196f3 0%,
    #2196f3 10%,
    transparent 10%,
    transparent 50%
  );
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-container .contactInfo .contact-box .contact-icon::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from 117.5deg,
    #2196f3 0%,
    #2196f3 10%,
    transparent 10%,
    transparent 50%
  );
}
.contact-container .contactInfo .contact-box .contact-icon::after {
  content: "";
  position: absolute;
  inset: 2px;
  background: #222;
}
.contact-container .contactInfo .contact-box .contact-icon b {
  position: absolute;
  inset: 8px;
  background: #2196f3;
  z-index: 2;
}
.contact-container .contactInfo .contact-box .contact-icon ion-icon {
  position: relative;
  z-index: 1000;
  color: #333;
  font-size: 1.25em;
}
.contact-container .contactInfo .contact-box .contact-text {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  font-size: 1.1em;
  color: #fff;
  font-weight: 200;
}
.contact-container .contactInfo .contact-box .contact-text h2 {
  font-weight: 500;
  color: #2196f3;
}
.contact-text p {
  font-size: 0.5 em;
}
.contact-container .contactInfo .contact-txt {
  margin-top: 50px;
  font-weight: 500;
  border-left: 50px solid #2196f3;
  padding-left: 25px;
  line-height: 1em;
  color: #fff;
  font-size: 1.3em;
}
.contact-container .contactInfo .contact-sci {
  position: relative;
  display: flex;
  gap: 20px;
  margin: 20px 30px;
}
.contact-container .contactInfo .contact-sci li {
  list-style: none;
}
.contact-container .contactInfo .contact-sci li a {
  color: #fff;
  font-size: 1.5em;
  transition: 0.25s;
}
.contact-container .contactInfo .contact-sci li a:hover {
  color: #2196f3;
  filter: drop-shadow(0 0 5x #2196f3);
}
.contact-container .contactForm {
  position: relative;
  width: 40%;
  background: repeating-conic-gradient(
    from var(--a),
    #2196f3 0%,
    #2196f3 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  padding: 60px;
}
.contact-container .contactForm::before {
  content: "";
  position: absolute;
  inset: 0;
  background: repeating-conic-gradient(
    from var(--a),
    #2196f3 0%,
    #2196f3 10%,
    transparent 10%,
    transparent 50%
  );
  animation: animate 6s linear infinite;
  animation-delay: -1.5s;
}
.contact-container .contactForm::after {
  content: "";
  position: absolute;
  inset: 2px;
  border: 20px solid #222;
  background: #333;
}

@property --a {
  syntax: "<angle>";
  inherits: false;
  initial-value: 0deg;
}
@keyframes animate {
  0% {
    --a: 0deg;
  }
  100% {
    --a: 360deg;
  }
}
.contact-container .contactForm form {
  position: relative;
  z-index: 10;
}
.contact-container .contactForm form h2 {
  font-size: 1.6em;
  color: #fff;
  font-weight: 500;
}
.contact-container .contactForm form .inputBox {
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.contact-container .contactForm form .inputBox input,
.contact-container .contactForm form .inputBox textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 1.1em;
  margin: 10px 0;
  border: none;
  background: transparent;
  border-bottom: 2px solid #2196f3;
  color: #fff;
  outline: none;
  resize: none;
}
.contact-container .contactForm form .inputBox strong {
  color: #fff;
  position: absolute;
  left: 0;
  pointer-events: none;
  padding: 5px 0;
  font-size: 1.1em;
  transition: 0.5s;
}
.contact-container .contactForm form .inputBox input:focus ~ strong,
.contact-container .contactForm form .inputBox textarea:focus ~ strong,
.contact-container .contactForm form .inputBox input:valid ~ strong,
.contact-container .contactForm form .inputBox textarea:valid ~ strong {
  color: #2196f3;
  font-size: 0.7em;
  transform: translateY((-20px));
  padding: 5px auto;
}
.contact-container .contactForm form .inputBox input[type="submit"] {
  width: 100%;
  background: #2196f3;
  color: #222;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-weight: 500;
}
.secondaryHeader {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 12vh;
  background: #fff;
}
/* Contact Section End */

@media (min-width: 769px) {
  .menu-toggle {
    display: none;
  }
}
/* Mobile View */
@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  header .logo {
    font-size: 1.8em;
  }

  .main-navigation {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .content {
    max-width: 100%;
    text-align: center;
  }

  .content h3 {
    font-size: 1.8em;
  }

  .content h2 {
    font-size: 2.5em;
  }

  .content p {
    font-size: 1em;
    padding: 0 10px;
  }

  button {
    font-size: 1em;
    padding: 10px 25px;
  }

  .sci {
    bottom: 20px;
    justify-content: center;
    gap: 15px;
  }

  .colors {
    max-width: 100%;
    position: relative;
    width: 100%;
    right: auto;
  }
  .banner {
    flex-direction: column;
    align-items: center;
    text-align: center;
    min-height: auto;
    padding: 50px 20px;
  }
  header {
    flex-direction: row;
    justify-content: space-between;
    padding: 15px 20px;
  }
  .content {
    margin-top: 200px;
  }

  .main-navigation {
    background: white !important;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 15px 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .main-navigation.active {
    display: flex;
  }

  .menu-toggle {
    display: block;
    font-size: 1.8em;
    cursor: pointer;
    background: #fff;
  }

  .content h3 {
    font-size: 1.5em;
  }

  .content h2 {
    font-size: 2em;
  }

  .content p {
    font-size: 0.9em;
  }

  button {
    font-size: 0.9em;
    padding: 8px 20px;
  }

  .sci {
    gap: 10px;
  }

  .colors {
    max-width: 50%;
  }
  /* Grid */
  .masonry-grid {
    grid-template-columns: 1fr;
    grid-auto-rows: 250px;
    padding: 10px;
  }
  /* About section */
  #about-content {
    flex-direction: column;
    text-align: left;
    align-items: center;
  }

  #about-content p {
    font-size: 1em;
  }

  #about-img {
    max-width: 100%;
  }

  #open-modal-btn {
    font-size: 1em;
    padding: 10px 20px;
    margin-top: 10px;
  }

  .modal-content {
    width: 90%;
    padding: 20px;
  }

  .modal-content p {
    font-size: 1em;
  }

  #close-btn {
    font-size: 1em;
    padding: 8px 20px;
  }
  /* About Section */

  /* Project Section */
  .projects-section .headingTwo {
    padding: 0px 0px !important;
  }
  .project-box img {
    width: 100%;
    height: auto;
  }

  .project-box {
    width: 100%;
    margin-bottom: 20px;
    text-align: left;
  }

  .project-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
  }

  .projects-section {
    padding: 30px 20px;
  }

  /* Project Section */

  /* My Skill Section */
  .skills-section .headingTwo {
    padding: 0px 20px !important;
  }
  .skills-section {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .skill-main {
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
  }

  .left-skill {
    width: 90%;
    text-align: left;
  }

  .right-skill {
    width: 90%;
    margin-top: 20px;
  }

  .right-skill .line {
    margin-bottom: 12px;
  }

  .right-skill .bars {
    height: 5px;
  }

  .right .info span {
    font-size: 1.1em;
  }

  .skills-section h2 {
    font-size: 1.5em;
  }

  .skills-section button {
    font-size: 1em;
    padding: 10px 20px;
  }

  .left-skill button {
    width: 100%;
  }
  /* My Section Skill */

  /* Contact */
  .contact {
    padding: 30px;
  }
  .contact-container {
    flex-direction: column;
  }
  .contact-container .contactInfo,
  .contact-container .contactForm {
    width: 100%;
  }
  .contact-container .contactForm {
    padding: 40px;
  }
  .contact-container.contactForm form {
    padding: 10px;
  }
  footer {
    padding: 20px 10px;
  }
}
/* Mobile view End */

/* Light Mode (Default) */
body {
  background-color: #fff;
  color: #000;
  transition: background-color 0.3s, color 0.3s;
}

button {
  background-color: #f0f0f0;
  color: #000;
  border: 1px solid #ccc;
  padding: 10px;
  cursor: pointer;
}

/* Default Section Styles */
section {
  background-color: #e0e0e0;
  transition: background-color 0.3s, color 0.3s;
}

/* Dark Mode */
.dark-mode {
  background-color: #222;
  color: #fff;
}

/* Style for the Toggle Button */
#day-night-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: #222;
}
.dark-mode #day-night-toggle {
  color: white;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

body.dark-mode span {
  color: #fff;
}
body.dark-mode .chat {
  color: #fff;
}
body.dark-mode .left-skill button {
  background: #2196f3;
  border: 2px solid #2196f3;
}
body.dark-mode .left-skill button:hover {
  background: transparent;
}
body.dark-mode header a {
  color: #2196f3;
}
body.dark-mode button {
  background-color: #333;
  color: #fff;
  border: 1px solid #444;
}

body.dark-mode section {
  background-color: #333;
  color: #fff;
  border-bottom: 1px solid #444;
}
body.dark-mode .projects-section h3 a {
  color: #fff;
}
body.dark-mode footer {
  background: #333;
}
body.dark-mode .masonry-grid {
  background: #333;
  transition: 0s;
}
body.dark-mode .menu-toggle {
  background: #333;
}
body.dark-mode .sci li a {
  color: #fff;
}
